/* ==== VIDEO WRAPPER ==== */
.video-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 ratio */
  border-radius: 16px;
  overflow: hidden;
  background: #000;
}

.custom-video {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.custom-video video {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
  border-radius: 16px;
}

.p-card1 {
  transition: box-shadow 0.5s ease, transform 0.3s ease;
  cursor: pointer;
  border: 1px solid rgba(5, 150, 179, 0);
  overflow: visible !important;

  .p-card-body {
    padding: 0.5rem;
  }
}

.p-card1:hover {
  border: 1px solid #0596b3ff;
}

.p-card1 .img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
  display: block;
  border-radius: 16px;
}

.p-card1 .p-card-content {
  overflow: hidden;
}

.p-card1:hover .img {
  transform: scale(1.08);
}

.hover-2 {
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
    display: block;
    border-radius: 16px;
  }
}

.hover-2:hover img {
  transform: scale(1.08);
}

.hover-button:hover {
  background: #a855f7;
  color: #ffffff;
}

.hover-3:hover {
  transition: transform 0.4s ease;
  transform: translateY(-7px);
}

.hover-button2:hover {
  background: #079fbf;
  color: #ffffff;
}
