Body body {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f9f9f9;
  color: #525252;
}

/* Link */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* List */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}

.gap-15 {
  gap: 15rem;
}

.bg-main1 {
  background-color: #0083ad;
}

.bg-main2 {
  background-color: #777777;
}

.bg-main3 {
  background-color: #edfbff;
}

.bg-main4 {
  background-color: #f7fbfd;
}

.bg-white {
  background-color: #ffffff;
}

.text-main1 {
  color: #0083ad;
}

.text-main2 {
  color: #777777;
}

.text-main3 {
  color: #6d28d9;
}

.text-white {
  color: #ffffff;
}

.card-1 {
  border: 2px solid #a5e3fa;
  border-radius: 5px;
  background-color: #ebf5f8;
  color: #006d94;
}

.card-4 {
  border-radius: 5px;
  border: 2px solid #ffadb7;
  background-color: #fbf2f3;
  color: #fc394f;
}

.card-3 {
  border-radius: 5px;
  border: 2px solid #cbcd51;
  background-color: #f9fad0;
  color: #006d94;
}

.card-2 {
  border-radius: 5px;
  border: 2px solid #a1ec8e;
  background-color: #e5ffe0;
  color: #3bd315;
}

.active-sidebar {
  background-color: #0083ad;

  i,
  span {
    color: #ffffff;
  }
}

.hover-sidebar:hover {
  background-color: #e8e8e8;

  i,
  span {
    color: #000000;
  }
}

.setStepper {
  .p-stepper-panels {
    padding: 0%;
    padding-top: 1rem;
  }
}

.w-p-icon-field {
  .p-icon-field {
    width: 100%;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.aihelprt {
  .sidebar {
    width: 250px;
    height: 100vh;
    background: #f8f9fa;
    border-right: 1px solid #dee2e6;
  }

  .chat-container {
    flex: 1;
    background: #fff;
    padding: 20px;
  }

  .chat-message {
    margin-bottom: 10px;
  }

  .input-group {
    display: flex;
    gap: 10px;
    margin-top: 20px;
  }
}
.p-card-content {
  padding: 0 !important;
}

.p-inputotp-input {
  width: 2.1rem !important;
  height: 2.1rem !important;
  font-size: 1rem !important;
  padding: 0%;
}

.blog {
  .p-card-body {
  padding: 0 !important;
}
}
