Body body {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f9f9f9;
  color: #333;
}

/* Link */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* List */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}

.gap-15 {
  gap: 15rem;
}

.bg-main1 {
  background-color: #0083ad;
}

.bg-main2 {
  background-color: #777777;
}

.bg-main3 {
  background-color: #edfbff;
}

.bg-white {
  background-color: #ffffff;
}

.border-red {
  background-color: #777777;
}

.text-main1 {
  color: #0083ad;
}

.text-main2 {
  color: #777777;
}

.active-sidebar {
  background-color: #0083ad;

  i,
  span {
    color: #ffffff;
  }
}

.hover-sidebar:hover {
  background-color: #e8e8e8;

  i,
  span {
    color: #000000;
  }
}

.setStepper {
  .p-stepper-panels {
    padding: 0%;
    padding-top: 1rem;
  }
}

.w-p-icon-field {
  .p-icon-field {
    width: 100%;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
