Body body {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #f9f9f9;
  color: #525252;
  height: 100%;
}

/* Link */
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}

.min-h-dvh {
  min-height: 100dvh;
}

/* Footer padding cho điện thoại có tai thỏ (iPhone, Pixel...) */
.footer-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

/* List */
ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out forwards;
}

.gap-15 {
  gap: 15rem;
}

.bg-main1 {
  background-color: #0083ad;
}

.bg-main2 {
  background-color: #777777;
}

.bg-main3 {
  background-color: #edfbff;
}

.bg-main4 {
  background-color: #f7fbfd;
}

.bg-white {
  background-color: #ffffff;
}

.text-main1 {
  color: #0083ad;
}

.text-main2 {
  color: #777777;
}

.text-main3 {
  color: #6d28d9;
}

.text-main4 {
  color: #004d68;
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.card-1 {
  border: 2px solid #a5e3fa;
  border-radius: 5px;
  background-color: #ebf5f8;
  color: #006d94;
}

.card-4 {
  border-radius: 5px;
  border: 2px solid #ffadb7;
  background-color: #fbf2f3;
  color: #fc394f;
}

.card-3 {
  border-radius: 5px;
  border: 2px solid #cbcd51;
  background-color: #f9fad0;
  color: #8c8d39;
}

.card-2 {
  border-radius: 5px;
  border: 2px solid #a1ec8e;
  background-color: #e5ffe0;
  color: #3bd315;
}

.card-5 {
  border-radius: 8px;
  border: 2px solid #b8b8b8;
  background-color: #f4f4f4;
}

.active-sidebar {
  background-color: #0083ad;

  i,
  span {
    color: #ffffff;
  }
}

.hover-sidebar:hover {
  background-color: #e8e8e8;

  i,
  span {
    color: #000000;
  }
}

.setStepper {
  .p-stepper-panels {
    padding: 0%;
    padding-top: 1rem;
  }
}

.w-p-icon-field {
  .p-icon-field {
    width: 100%;
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.aihelper {
  .p-scrollpanel-content {
    padding: 18px 18px 0px 0px !important;
  }

  .p-scrollpanel .p-scrollpanel-bar {
    background: #777777;
    margin-left: 18px;
  }
}
.p-card-content {
  padding: 0 !important;
}

.p-inputotp-input {
  width: 2.1rem !important;
  height: 2.1rem !important;
  font-size: 1rem !important;
  padding: 0%;
}

.blog {
  .p-card-body {
    padding: 0 !important;
  }
}

.slider-over {
  .p-slider-range {
    width: 0px !important;
  }
}
